body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* MODAL LOADER ----------------------------------------------------------------------*/
.loader-wrapper {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* GENERAL ---------------------------------------------------------------------------*/

textarea {
	max-width: 100%;
}

.about-cityfunder p, .about-cityfunder ul {
	margin: 10px 0 20px;
}

/* TODO separate file */
.form-login, .form-signup {
	max-width: 330px;
	margin: 0 auto;
	padding: 15px;
}

.form-login h2, .form-signup h2 {
	text-align: center;
}

/* Project detail */
.project {
	width: 600px;
	height: 400px;
}


/* Sticky footer */
html {
	position: relative;
	min-height: 100%;
}

body, #root {
	margin-bottom: 50px;
}

footer.sticky-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	border-top: 1px solid #e7e7e7;
}

.sticky-footer .container {
	margin: 10px auto;
	text-align: center;
}


/* Images */

.img-mini {
	width: 50px;
	height: 50px;
	background-color: #f3f3f3;
}

.img {
	width: 100px;
	height: 100px;
}

.project-tile .img {
	width: 100%;
	height: 210px;
}


/* Search Box */
#search-box {
	width: 200px;
	text-align: middle;
}

/* Updatable image */
.updatable-img {
	position: relative;
	width: 100px;
	height: 100px;
}

.updatable-img .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000;
}

.updatable-img:hover .overlay {
	opacity: 0.75;
}

.overlay .text {
	color: white;
	position: absolute;
	font-size: 16px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* Gallery */

.galleryThumb {
	margin: 10px;
	display: inline-block;
	position: relative;
}

.galleryThumb .overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: .5s ease;
	background-color: rgba(0,0,0,0.6);
}

.galleryThumb:hover .overlay {
	display: block;
}

.galleryThumb .default {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
}

.galleryThumb .default .glyphicon {
	color: #fff;
	font-size: 30px;
}

/* Form Pane */
.formPane .pagerBar {
	margin: 20px 0;
	width: 100%;
	overflow: hidden;
}

/* Editable list */
.editable-list input {
	width: 400px;
	display: inline-block;
}

.editable-list .list-item {
	margin: 5px;
}

.editable-list .input-item {
	margin-left: 45px;
}

.gallery-dropzone {
	width: 600px;
	height: 150px;
	margin: 10px auto;
	border: 1px #cdcdcd dashed;
	border-radius: 5px;
	text-align: center;
	position: relative;
}

.gallery-dropzone p {
	color: #555;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
}


.project-tile {
	height: 500px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px !important;
	cursor: pointer;
	position: relative;
}

.project-tile h3 {
	margin-top: 0;
}

.project-tile:hover {
	background-color: #f3f3f3;
}

.project-tile img {
	margin: 10px 0;
}

.project-tile .categories-list {
	position: absolute;
	bottom: 15px;
}

.project-overview .categories-list {
	margin: 15px 0;
}

.categories-list-title {
	margin-bottom: 0px;
}

.categories-list .label {
	margin-right: 5px;
}

/* FILTER BAR ------------------------------------------------------------ */
.filter-bar .form-group {
	margin: 0px 15px;
}

.filter-bar .form-group label {
	margin-right: 5px;
}

.filter-bar .form-group.pull-right {
	margin: 0;
}


/* PROGRESS BAR ---------------------------------------------------------- */
.my-progress-bar {
	max-width: 600px;
	margin: 20px 0;
}

.my-progress-bar .progress {
	margin-bottom: 5px;
}


/* MY PROFILE ------------------------------------------------------------ */

.profile-details, .password-change {
	padding: 20px;
}

.profile-details .updatable-img {
	border: 1px solid #ddd;
	width: 130px;
	height: 130px;
	display: inline-block;
}

.profile-details textarea {
	min-height: 250px;
}

.object-fit_cover {
	object-fit: cover
}


#project-tabs {
	margin: 30px 0;
}